@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");

.analytic-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

table {
  margin-top: 2em;
  margin-bottom: 1em;
  display: inline-block;
  width: 90%;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px #0000000a;
  thead {
    display: block;
    background-color: #f3f7fd;
    border-radius: 8px 8px 0 0;
    height: 2.7em;
    padding-top: 0.5em;
    tr {
      th {
        font-family: "Manrope", serif;
        font-size: 1em;
        line-height: 21.86px;
        color: #3b3c51;
      }
      .analytic-date {
        padding-left: 1.7em;
        padding-right: 3em;
        width: 6em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
          cursor: pointer;
        }
      }
      .analytic-original {
        padding-left: 0.6em;
        width: 13em;
      }
      .analytic-shortlink {
        width: 16em;
      }
      .analytic-ipaddress {
        width: 12em;
      }
      .analytic-device {
        width: 6em;
      }
    }
  }
  tbody {
    display: inline;
    border-radius: 0 0 8px 8px;
    tr {
      width: 100%;
      td {
        font-family: "Manrope", serif;
        font-size: 1em;
        line-height: 21.86px;
        color: #3b3c51;
      }
      .analytic-data-date {
        display: inline-block;
        padding: 0.4em 0.3em 0.4em 0.2em;
        width: 10em;
      }
      .analytic-data-original {
        padding: 0.4em 0.5em 0.4em 0.2em;
        display: inline-block;
        width: 14em;
        padding-left: 0.4em;
        padding-right: 0.4em;
        overflow: hidden;
      }
      .analytic-data-shortlink {
        padding: 0.4em 0.7em 0.4em 0.8em;
        display: inline-block;
        width: 14em;
        padding-left: 0.4em;
        padding-right: 0.4em;
        overflow: hidden;
      }
      .analytic-data-ipaddress {
        padding: 0.4em 0.3em 0.4em 0.8em;
        display: inline-block;
        width: 9em;
        text-align: left;
      }
      .analytic-data-device {
        padding: 0.4em 0.3em 0.4em 0.9em;
        display: inline-block;
        width: 5em;
        text-align: center;
      }
    }
  }
}

.link-paging {
    margin-bottom: 2em;
  button{
    background-color: #FFFFFF;
    border: 0.66px solid #DFE3E8;
    width: 3em;
    height: 2em;
    margin-left: 1em;
    cursor: pointer;
    &:focus{
        outline: #4200FF;
    }
  }
}

.disabled {
    cursor: not-allowed !important;
  background-color: #919eab;
}
