@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  background-color: black;
  opacity: 0.9;
}

.container {
  background-color: #fff;
  width: 40%;
  height: 80%;
  display: flex;
  flex-direction: column;
  border-radius: 6px 0 0 6px;
  .top-section {
    border-radius: 6px 0 0 0;
    border: none;
    background-color: #3b3c51;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    width: 100%;
    height: 11%;
    h2 {
      font-family: "Manrope", serif;
      font-size: 1em;
      line-height: 24.59px;
      color: #ffffff;
    }
    img {
      cursor: pointer;
      width: 1.3em;
      height: 1.3em;
    }
  }
  .add-new-section {
    display: flex;
    flex-direction: column;
    padding: 1em 1em;
    height: 77%;
    label {
      margin: 0.5em 0;
      font-family: "Manrope", serif;
      font-size: 0.97em;
      line-height: 21.86px;
    }
    input {
      height: 2.3em;
      padding-left: 0.7em;
      border: 1px solid #d1d5db;
      border-radius: 4px;
      &:focus {
        outline: none;
      }
      &::placeholder {
        font-family: "Manrope", serif;
        font-size: 1em;
        line-height: 21.86px;
        color: #a0a0a0;
      }
    }
    textarea {
      height: 5em;
      padding-left: 0.7em;
      padding-top: 0.4em;
      border: 1px solid #d1d5db;
      border-radius: 4px;
      &:focus {
        outline: none;
      }
      &::placeholder {
        font-family: "Manrope", serif;
        font-size: 1em;
        line-height: 21.86px;
        color: #a0a0a0;
      }
    }
  }
  .bottom-section {
    padding: 1em;
    background-color: #3b3c511a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 12%;
    .clear-btn {
      display: flex;
      justify-content: flex-start !important;
      cursor: pointer !important;
      background-color: transparent !important;
      border: none !important;
      color: #3b3c51 !important;
    }
    .create-link-btn {
      width: 20% !important;
    }
  }
}

span {
  color: #ff0101;
}

.link-expiry-slider {
  display: flex;
  position: relative;
  width: 100%;
  height: 25px;
  margin-bottom: 0.7em;
  margin-top: 0.5em;
  .link-expiration {
    margin: 0.5em 0;
    font-family: "Manrope", serif;
    font-size: 0.97em;
    line-height: 21.86px;
    width: 93%;
  }
  .link-slider {
    .change-slider {
      display: none;
    }

    .move-slider {
      position: absolute;
      width: 7%;
      height: 80%;
      background-color: #ccc;
      border-radius: 25px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .move-slider::before {
      content: "";
      position: absolute;
      width: 1em;
      height: 1.1em;
      background-color: #FFFFFF;
      border-radius: 50%;
      top: 1px;
      left: 2px;
      transition: transform 0.3s ease;
    }

    .change-slider:checked + .move-slider {
      background-color: #4A70D1;
    }

    .change-slider:checked + .move-slider::before {
      transform: translateX(0.97em);
    }
  }
}
