@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");

.dashboard-container {
  display: flex;
}

.left-navbar {
  display: flex;
  flex-direction: column;
  width: 20%;
  .logo {
    margin: 2em;
    width: 9em;
    height: 2em;
    object-fit: cover;
  }
  .navbar {
    margin-left: 1em;
    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .active {
        width: 13em;
        background-color: #f3f7fd;
        button {
          color: #1b48da;
        }
      }
      li {
        padding-left: 1em;
        margin-right: 2em;
        margin-bottom: 0.5em;
        list-style: none;
        height: 3.1em;
        display: flex;
        align-items: center;
        border-radius: 6px;
        button {
          cursor: pointer;
          background-color: transparent;
          border: none;
          display: flex;
          align-items: center;
          font-family: "Manrope", serif;
          font-size: 1em;
          line-height: 19.12px;
          color: #3b3c51;
          img {
            height: 1.2em;
            width: 1.2em;
            margin-right: 0.5em;
          }
        }
      }
    }
  }
  .settings-btn {
    display: flex;
    align-items: center;
    margin-left: 1em;
    height: 6em;
    border-top: 2px solid #f6f6f9;
    border-bottom: 2px solid #f6f6f9;
    button {
      margin-left: 1em;
      cursor: pointer;
      background-color: transparent;
      border: none;
      display: flex;
      align-items: center;
      font-family: "Manrope", serif;
      font-size: 1em;
      line-height: 19.12px;
      color: #3b3c51;
      img {
        height: 1.2em;
        width: 1.2em;
        margin-right: 0.5em;
      }
    }
  }
}

.content-section {
  display: flex;
  flex-direction: column;
  width: 80%;
  .top-navbar {
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .hello-message {
      margin-left: 1em;
      display: flex;
      width: 28%;
      img {
        width: 1.1em;
        height: 1.1em;
        object-fit: cover;
        margin-top: 0.3em;
      }
      .current-data {
        margin-left: 0.4em;
        font-family: "Manrope", serif;
        font-size: 1em;
        line-height: 21.86px;
        p:nth-child(1) {
          font-weight: 600;
        }
        p:nth-child(2) {
          font-size: 0.8em;
          color: #878ba9;
        }
      }
    }
    .navbar-info {
      display: flex;
      width: 53%;
      .create-new-btn {
        width: 29%;
        button {
          cursor: pointer;
          height: 2.5em;
          width: 80%;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #1b48da;
          font-family: "Manrope", serif;
          font-size: 14px;
          line-height: 19.12px;
          border: 1px solid #1b48da;
          color: #ffffff;
          border-radius: 6px;
          img {
            width: 1.2em;
            height: 1.2em;
            margin-right: 0.3em;
            object-fit: cover;
          }
        }
      }
      .search-input {
        width: 40%;
        height: 2.3em;
        border: 1px solid #ececf2;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 1em;
          height: 1em;
          margin-left: 0.3em;
        }
        input {
          margin-left: 0.3em;
          padding-left: 0.2em;
          width: 90%;
          border: none;
          font-family: "Manrope", serif;
          font-size: 0.8em;
          font-weight: 400;
          line-height: 19.12px;
          &::placeholder {
            color: #878ba9;
          }
          &:focus {
            outline: none;
          }
        }
      }
      .name-initials {
        margin-left: 4em;
        position: relative;
        .profile-btn {
          cursor: pointer;
          border-radius: 50%;
          width: 2.3em;
          height: 2.3em;
          border: none;
          font-family: "Manrope", serif;
          font-size: 1em;
          line-height: 19.12px;
          color: #923e0e;
          background-color: #fde48a;
        }
        .dropdown-content {
          position: absolute;
          right: 2em;
          border: 1px solid #ececf2;
          background-color: #ffffff;
          width: 5em;
          height: 2em;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 0.5em;
          z-index: 10;
          .logout-btn {
            cursor: pointer;
            color: #878ba9;
            font-family: "Manrope", serif;
            font-size: 0.8em;
            font-weight: 400;
            line-height: 19.12px;
            background-color: transparent;
            border: none;
          }
        }
      }
    }
  }
  .hero-section {
    height: 87vh;
    border-top: 2px solid #f6f6f9;
    border-left: 2px solid #f6f6f9;
  }
}

.active-tab {
    background-color: #f3f7fd;
    height: 3.1em;
    display: flex;
    align-items: center;
    border-radius: 6px;
    width: 13em;
  button {
    color: #1b48da !important;
  }
}
