@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");

.home-container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.left-container {
  position: relative;
  width: 45%;
  overflow: hidden;
  .logo {
    position: absolute;
    top: 1rem;
    left: 1.3rem;
    z-index: 5;
    width: 8rem;
    height: 2em;
  }
  .half-bg {
    width: 100%;
    height: 100vh;
  }
}

.right-container {
  width: 55%;
  display: flex;
  flex-direction: column;
  .top-btns {
    height: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2em;
    padding-top: 1.2em;
    .btn {
      margin-right: 1em;
      font-family: "Manrope", serif;
      font-size: 1em;
      font-weight: 400;
      line-height: 19.12px;
      cursor: pointer;
    }
    .signup-btn {
      margin-right: 2em;
      background-color: transparent;
      border: none;
      .signup-link {
        color: #3b3c51;
      }
    }
    .login-btn {
      width: 4.9em;
      height: 2.5em;
      border-radius: 6px;
      background-color: #1b48da;
      border: 1px solid #1b48da;
      .login-link {
        color: #ffffff;
      }
    }
  }
  .heading {
    height: 7%;
    margin-left: 4em;
    margin-top: 3em;
    width: 16em;
    h2 {
      letter-spacing: 0.2em;
      font-family: "Manrope", serif;
      font-size: 1em;
      font-weight: 600;
      line-height: 27.32px;
      text-align: left;
      color: #3b3c51;
    }
  }
  .user-data {
    margin-left: 4em;
    display: flex;
    flex-direction: column;
    input {
      padding-left: 1em;
      background-color: #fff;
      height: 2.9em;
      margin-top: 1em;
      width: 73%;
      border: 1px solid #3b3c51;
      border-radius: 6px;
      &:focus {
        outline: none;
      }
      &::placeholder {
        color: #b3b3b3;
        font-family: "Manrope", serif;
        font-size: 1em;
        line-height: 24.59px;
      }
    }
    .register-btn {
      cursor: pointer;
      font-family: "Manrope", serif;
      font-size: 1em;
      line-height: 24.59px;
      background-color: #1b48da;
      border: none;
      color: #ffffff;
      height: 2.6em;
      margin-top: 1em;
      width: 73%;
      border-radius: 6px;
    }
  }
  .login-request {
    height: 20%;
    margin-left: 4em;
    width: 73%;
    margin-top: 1em;
    p {
      text-align: center;
      font-family: "Manrope", serif;
      font-size: 1em;
      line-height: 21.86px;
    }
  }
}

@media (max-width: 1024px) {
  .home-container {
    flex-direction: column;
    align-items: center;
  }
  .left-container {
    display: none;
  }

  .right-container {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .right-container {
    width: 95%;
    padding: 1.5em;
  }
}

@media (max-width: 480px) {
  .right-container .top-btns {
    justify-content: center;
    padding-right: 0;
  }
  
  .right-container .login-request p {
    font-size: 0.9em;
  }
}
